#postmessagebuttondiv{font-size:4vw; background-color:rgb(229, 147, 18); width: 30vw; height: 5vw; border-radius: 2vw; margin-top: 6vw; padding-right: 2vw; padding-bottom: 0.5vw;}
#postmessage{margin-left: 1vw;margin-top:0vw;}
#postmessage a{color:black;}

#postmessagebuttondiv2{font-size:4vw; background-color:rgb(229, 147, 18); width: 30vw; height: 5vw; border-radius: 2vw; margin-top: 10vw; padding-right: 2vw; padding-bottom: 0.5vw; margin-left: -1vw;}


#messageposter {margin-top:5vw; margin-bottom: 5vw; width: 50vw; height: 60vw; border-radius: 1vw; padding-top: 1vw; padding-left: 1vw; font-size: 4vw; background-color:rgb(130, 193, 29); }


#title{margin-left: 2vw; margin-top: 0.5vw;}		
#titlemessage{padding-left: 0.2vw; border-radius: 0.5vw; border-width: 0.2vw; margin-bottom:0.5vw;  padding-top: 0.5vw; padding-bottom: 0.5vw; padding-right:1vw; margin-left: 8vw; width:20vw; height: 3.5vw; font-size: 3vw;}

#message{ margin-left: 2vw;  margin-bottom:0.5vw; margin-top: 0.5vw;}
textarea{font-family:'Open Sans', sans-serif; resize: none;}
#contentmessage{margin-left: 2vw;  padding-left: 0.2vw; border-radius: 0.5vw; border-width: 0.2vw; margin-bottom:0.5vw; margin-top: 0.5vw; padding-top: 0.5vw; padding-bottom: 0.2vw; padding-right:1vw; width: 40vw; font-size: 3vw; }

